

@await Html.PartialAsync("_Loader")

<!-- Edit Villa Modal -->
<div class="modal fade" id="editVillaModal" tabindex="-1" aria-labelledby="editVillaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="editVillaModalLabel">Edit Villa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form id="editVillaForm">
                    <input type="hidden" id="editId" />
                    <input id="editName" class="form-control mb-2" placeholder="Name" />
                    <input id="editDescription" class="form-control mb-2" placeholder="Description" />
                    <input id="editPrice" class="form-control mb-2" placeholder="Price" />
                    <input id="editSqft" class="form-control mb-2" placeholder="Sqft" />
                    <input id="editOccupency" class="form-control mb-2" placeholder="Occupency" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="updateVilla()">Update</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/villa.js"></script>
