<div id="loader" class="d-none text-center" style="position: fixed; top: 0; left: 0;
     width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); z-index: 9999;">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
            <span class="sr-only">Wait a Moment. Your data is saving...</span>
        </div>
    </div>
</div>
